.bg-dark-green{
    background-color: rgb(18, 30, 18);
    color:white;
}

.sidebar[data-background-color="light"] {
    background-color: #f8f9fa; /* Warna latar belakang terang */
}

.sidebar[data-background-color="dark"] {
    background-color: #343a40; /* Warna latar belakang gelap */
}

.logo-header[data-background-color="light"] {
    background-color: #f8f9fa; /* Warna latar belakang terang */
}

.logo-header[data-background-color="dark-green"] {
    background-color: #0d2311; /* Warna latar belakang gelap */
}

.bg-cuy{
    background: rgb(255,255,255);
background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,153,42,1) 100%);
background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,153,42,1) 100%);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,153,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00992a",GradientType=1);
}

.bg-main{
    height: auto;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(148deg, rgba(255,255,255,0.9239867822128851) 0%, rgba(0,191,52,1) 100%);
    background: -webkit-linear-gradient(148deg, rgba(255,255,255,0.9239867822128851) 0%, rgba(0,191,52,1) 100%);
    background: linear-gradient(148deg, rgba(255,255,255,0.9239867822128851) 0%, rgba(0,191,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00bf34",GradientType=1);
}